{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:sonarjs/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "sonarjs"
  ],
  "root": true,
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./test/tsconfig.json"
    ]
  }
}
